#hovering:hover{
    background: #0f5132;
}
.hovering li:hover{
    background: #0f5132;
}
.cot1 li {

    margin: 15px;
}

.cot1 li a{
    color: white;
}

.cot1 a:hover {
    background: deeppink;
    color: white;
    text-shadow: 5px 5px 7px #0f5132;
}

/*!*.menu ul {*!*/
/*!*    position: absolute;*!*/
/*!*    top: 30px;*!*/
/*!*    left: 15px;*!*/
/*!*}*!*/
/*.menu ul li:hover ul{*/
/*    visibility: visible;*/
/*}*/

/*.cot1 {*/
/*    background: #9d9d9d;*/
/*    height: 600px;*/
/*    font-size: 35px;*/
/*}*/
/*.cot2 {*/
/*    padding: 40px 30px;*/
/*    line-height: 40px;*/
/*}*/
/*.cot3 {*/
/*    background: #9d9d9d;*/
/*    height: 600px*/
/*}*/
.dong1 {
    border-bottom: solid;
    padding-bottom: 50px;
}
/*.dong2 {*/
/*    padding-top: 50px;*/
/*}*/
.background button{   width: 75%;
    margin: 15px 0;
    height: 100px;
    font-size: 30px;

}
.background{

    background: gray;
    height: 600px;
    width: 100%;
    position: relative;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}